<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center">Image Resizer</h1>
    <p class="lead text-center">Resize your picture fast and easily</p>
  </div>
</div>

<div class="container">
  <form class="form">
    <div class="form-group">
      <label for="exampleInputFile">Your Image</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    </div>
    <button type="submit" class="btn btn-outline-success mb-2">Upload</button>
  </form>
</div>

